body > #root > div {
  display: flex;
  flex-direction: column;
}

/* body {
  display: flex;
  flex-direction: column;
} */

.footer {
  flex-shrink: 0;
}

.main-content {
    flex: 1 0 auto;
}

::-webkit-scrollbar {
  width: 1.25rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(24, 24, 29);
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border: .3125rem solid transparent;
  border-radius: .5625rem;
  background-clip: content-box;
}