body > #root > div {
  display: flex;
  flex-direction: column;
  
}

/* body {
  display: flex;
  flex-direction: column;
} */

.footer {
  flex-shrink: 0;
}

.main-content {
    flex: 1 0 auto;
}

::-webkit-scrollbar {
  width: 15px;
  /* background-color: transparent; */
}

::-webkit-scrollbar-track {
  /* background-color: rgb(24, 24, 29); */
  /* background-color: transparent;
  dis */
  display:none;
}

::-webkit-scrollbar-thumb {
  background: #088604;
  border: .3125rem solid transparent;
  border-radius: .5625rem;
  background-clip: content-box;
} 