.foot {
	display: flex;
	flex-direction: column;
	background: rgb(36, 164, 96);
	/* position: sticky;
	bottom: 0; */
	border-top: 1px solid darkgreen;
}

.foot-body {
	font-size: 1.1rem;
}

.foot-tail {
	display: flex;
	justify-content: center;
	align-items: center;
}


.foot-links {
	text-decoration: none;
	font-weight: bolder;
	color: inherit;
	text-decoration: inherit;
}

.foot-items-logo {
	/*	flex:2;*/
	padding-right: 1%;
}

.foot-logos {
	width: 40px;
	height: 40px;
	font-size: larger;
}

.foot-links:hover {
	color: white;
	text-shadow: 1px 1px darkgreen;
}

.iconFlex {
	display: flex;
	justify-content: space-around;
}