@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.foot {
	display: flex;
	flex-direction: column;
	background: rgb(36, 164, 96);
	/* position: sticky;
	bottom: 0; */
	border-top: 0.06rem solid darkgreen;
}
.foot-body { 
	font-size: 1.1rem;
}

.foot-tail {
	display: flex;
	justify-content: center;
	align-items: center;
}
.cfoot {
	margin-top: auto;
}

.foot-links {
	text-decoration: none;
	font-weight: bolder;
	color: inherit;
	text-decoration: inherit;
}

.foot-items-logo {
	/*	flex:2;*/
	padding-right: 1%;
}

.foot-logos {
	width: 2.5rem;
	height: 2.5rem;
	font-size: larger;
}

.foot-links:hover {
	color: white;
	text-shadow: 0.06rem 0.06rem darkgreen;
}

.iconFlex {
	display: flex;
	justify-content: space-around;
}

.regular {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}