.optCont {
    display: flex;
    flex-direction: row;
}

.ocart {
    display: flex;
    margin-left: 10px;
}

.cart-logo {
    color: rgb(0, 136, 255);
}

.cart-logo:hover {
    color: rgba(255, 255, 255, 0.937);
    background-color: rgb(0, 136, 255);
}
.viewButton {
    background-color: rgb(244, 129, 15);
    color: white;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    height: 100%;
}

.cardBox {
    display: flex;
    flex-direction: column;
    height: max-content;
    margin: 2%;
    border: solid rgb(140, 140, 140);
    border-width: 2px;
    border-radius: 5px;
}

.viewButton:hover {
    background-color: white;
    color: rgb(244, 129, 15);
}

.flexItem {
    margin: 5px;
}

.itemName {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    color: rgb(0, 136, 255);
    display: flex;
    justify-content: center;
}

.sellerCount {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: rgb(93, 93, 93);
}

.sfrom {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(244, 129, 15);
    font-size: 0.8rem;
}

.itemPrice {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 136, 255);
    font-size: 1.2rem;
}