.menubar {
  display: flex;
  justify-content: space-between;
  background-color: #20ff63;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

.menu_link {
  text-decoration: none;
  color: #000;
}

.menu_item {
  padding: 12px;
}
