.navbar {
/*  position: sticky;*/
  top:0px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #16e575;
  padding: 1%;
}

.nav-brand {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #e4e4e4;
  font-size: xx-large;
  -webkit-text-stroke: 1px #000000;
}
.nav {
  padding: 2% 1% 2% 1%;
  background-color: #16e575;
  /* font-size: 62.5%; */
}
.nav-items {
  flex: 2;
/*  margin-top: 2px;*/
  font-size: larger;
  text-align: center;
/*  float: right;*/
/*  margin-left: 2%;*/
}
.nav-items > a {
  text-decoration: none;
}
.item1,.item5 {
  flex: 1;
}
.item2 {
  flex:12;
  text-align: left;
}
.cmp-logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: white;
}
.prof-logo {
  /* position: relative; */
  height: 30px;
  width: 30px;
  margin: 0 1.8rem;
  border-radius: 50%;
  background-color: white;
}

.prof-det {
  visibility: hidden;
  position: absolute;
  right: 1rem;
  top: 3.6rem;
  /* align-items: center; */
}

.prof-el {
  background-color: #e4e4e4;
  padding: 8px;
  margin: 4px 0;
  display: flex;
  flex-direction: column;
  border-radius: 10%;
}


/* .customScroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.customScroll::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.customScrll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
} */