.negot_nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.2rem;
  color: #fff;
  background-color: #41d13e;
}

.nav_text {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.arrow_back {
  position: absolute;
  left: 1.875rem;
}
