@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');
#card-person{
    background: #FFFFFF;
    border-radius: 30px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
}
#top-person{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-around;
    color: #76E741;
}
#text-name-add{
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    font-size: larger;
    text-align: center;
    color: #76E741;
}
#text-profile{
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    font-size: large;
    color: #76E741;
    padding-left: 10%;
    margin: 40px;
    text-align: justify;
}