@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
#n1-title{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: .3125rem;
}
#flex-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#title-background{
    background: #c7fab2;
    border-radius: 1.25rem;
    width: 10%;
    margin-left: 10%;
    margin-top: .625rem;
}
#card-n1{
    background: #a7ff91;
    border-radius: 1.875rem;
    margin: 1.25rem;
    width: 90%;
    padding: .9375rem;
}
#left-column{
    border: none;
    /* background: #000000; */
    border-radius: .3125rem;
}
#right-column{
    border: none;
    /* background: #C4E1C5; */
    border-radius: .3125rem;
}
#semi-colon{
    float: right;
}
#query-table{
    margin: auto;
    background-color: inherit;
    border-spacing: 1.875rem;
    border: 0rem solid black;
    border-collapse:separate;
    border-spacing:.9375rem .9375rem;
}
#button-n1{
    background: #1FE57A;
    border-radius: .4375rem;
    width: 5rem;
    cursor: pointer;
    color: black;
}
#buttons-n1{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    margin-top: .4375rem;
    background-color: inherit;
    border: none;
}

/* background: #1FE57A; */
