@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

#text {
  margin-bottom: 1.5625rem;
  margin-left: 0rem;
}

label {
  display: inline-block;
  width: 15.625rem;
  text-align: left;
  color: black;
  font-weight: 700;
  size: 1.25rem;
  padding: 0 0.6em;
  line-height: 1;
  white-space: nowrap;
  border-radius: 0.25em;
}

input {
  display: inline-block;
  background-color: transparent;
  color: black;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid black .063rem;
  padding: .188rem .625rem;
  width: 18.75rem;
}

#bold {
  font-weight: bold;
}

.buttons {
  background-color: #138808;
  color: white;
  border-width: .125rem;
  border-color: white;
  border-radius: .313rem;
  height: 100%;
  border-radius: 999em;
  padding: 1%;
  font-size: 1.25rem;
}

.buttons:hover {
  background-color: white;
  color: #138808;
}
/*
.up-cont {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-left: 15%;
    width: 70%;
    justify-content: center;
}
.prod-cont {
    display: flex;
    flex-direction: column;
    align-content: center;
}*/
/*
.prod-cont {
    width: 70%;
}*/
.up-cont {
  text-align: center;
}
.prod-cont {
  display: inline-block;
  width: 50%;
  padding: 3%;
  border-radius: .9375rem 3.125rem .9375rem 3.125rem;
  background-color: #43b111;
}
.prod-cont > div {
  display: flex;
  margin-bottom: 1%;
}
.prod-cont > div > span {
  width: 50%;
  text-align: left;
}

.prod-cont > div > input {
  width: 50%;
}
