@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
#title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 400%;
    text-align: center;
}
#main-com{
    width: 80%;
    background-color: #DAFC8E73;
    border-radius: 1.5rem;
    margin: auto;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}
#left{
    margin: auto;
}
#right{
    margin: auto;
}
#left-content{
    border: none;
    background-color: inherit;
    margin: .9375rem;
}
#left-table{
    border:none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
#right-table{
    border:none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
}
#right-table-inr{
    border:none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
#price-entry{ 
    background: #B8FFB2;
    border-radius: .875rem;
    margin: .25rem;
}
#price-entry-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    padding-top: .3125rem;
}
#price-input{
    border: none;
    background-color: inherit;
    border-bottom: .1563rem solid black;
    border-radius: 0rem;
    width: 6.25rem;
}
#price-entry-box{
    border: none;
    background-color: inherit;
    margin: .9375rem;
}
input::placeholder {
    font-size: .8125rem;
    color: black;
}
#inr-style{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    float: right;
    text-align: center;
    vertical-align: middle;
    border: none;
}
#price-submit{
    background: rgba(111, 154, 18, 0.38);
    border-radius: .5625rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: .125rem;
    margin: .4375rem;
    cursor: pointer;
    padding: .4375rem;
    font-size:medium;
    color: black;
}