@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
#n1-title{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 5px;
    font-size: larger;
}
#flex-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#title-background{
    background: #D9D9D9;
    border-radius: 20px;
    width: 10%;
    margin-left: 10%;
    margin-top: 10px;
}
#card-n1{
    background: #D9D9D9;
    border-radius: 30px;
    margin: 20px;
    width: 90%;
    padding: 15px;
}
#left-column{
    border: none;
    background: #1FE57A;
    border-radius: 5px;
}
#right-column{
    border: none;
    background: #C4E1C5;
}
#semi-colon{
    float: right;
}
#query-table{
    margin: auto;
    background-color: inherit;
    border-spacing: 30px;
    border: 0px solid black;
    border-collapse:separate;
    border-spacing:15px 15px;
}
#button-n1{
    background: #1FE57A;
    border-radius: 7px;
    border: none;
    width: 80px;
    cursor: pointer;
}
#buttons-n1{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 7px;
}
