@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body > #root > div {
    height: 100vh;
}

.container {
    height: 70vh;
    display: flex;
}

.box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter-cont {
  width: 15vw;
  margin: 1%;
  display: flex;
  margin-left: 1%;
  margin-right: 1%;
  background-color: rgba(255, 254, 254, 0.904);
  padding: 2%;
  border-radius: 20px;
}

.title {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}

.titlebox {
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
    height: 4vh;
}

input {
    padding: 6px;
    border-radius: 8px;
    background-color: rgb(150, 245, 177);
    border-color: gainsboro;
    border-width: 1px;
}

.img-cont {
    height: 93%;
    max-width: 96%;
    display: block;
    margin: auto;
    border-radius: 15px;
}

.searchbox {
    height: 100%;
    padding: 4px;
    padding-left: 10px;
    display: inline;
    background-color: rgba(255, 255, 255, 0.934);
    width: 100%;
    border-color: gainsboro;
    border-width: 1px;
    border-radius: 8px;
}

#searchcont {
    margin: auto;
}

.sic {
    background-color: rgba(255, 255, 255, 0.926);
    height: max-content;
    margin-right: 10%;
    height: 100%;
    padding: 4px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.searchCont {
    display: flex;
    flex-direction: row;
}

.sip {
    margin-left: 20%;
    width: 60%;
}

.card-cont {
    background-color: white;
    margin: 1%;
    background-color: rgba(255, 254, 254, 0.904);
    padding: 2%;
    border-radius: 20px;
    width: 65vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.item-cont::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.39);
	border-radius: 7px;
	background-color: #F5F5F5;
    height: 100%;
    
}

.item-cont::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
    padding-right: 10px;
}

.item-cont::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.453);
	background-color: rgba(244, 129, 15, 0.841);
}