.ent-cont {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    row-gap: 7vh;
    flex-wrap: wrap;
}

.market-header{
    font-size: xxx-large;
    font-weight: 800;
}

.confirm-header{
    font-size: x-large;
    font-weight: 700;
}

.det-cont{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 1vh;
    justify-content: center;
    background: #D9D9D9;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 1.3125rem;
}

.det-cont-elem{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 5vh;
}

.att-header{
    background-color: rgba(65, 209, 62, 1);
    border-radius: 1.5625rem;
    padding-top: 4.5%;
    padding-left: 4.5%;
    padding-right: 5.5%;
    padding-bottom: 6%;
    white-space: nowrap;
    font-size: medium;
    font-weight: 900;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.att-val{
    background: rgba(190, 202, 190, 1);
    border-radius: 1.5625rem;
    padding-top: 4.5%;
    padding-left: 4.5%;
    padding-right: 5.5%;
    padding-bottom: 6%;
    white-space: nowrap;
}

.btn-gen{
    display: flex;
    column-gap: 8vh;
    flex-direction: row;
}

.btn-gen-btnE{
    background: #FF8787;
    border-radius: 1.3125rem;
    outline: none;
    border: none;
    padding: 44%;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn-gen-btnP{
    background: #59D246;
    border-radius: 1.3125rem;
    outline: none;
    border: none;
    padding: 24%;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}