.negot_address {
  position: relative;
  background-color: #7bff96;
  padding: .625rem;
  line-height: 1.25rem;
  color: #555;
  font-weight: 300;
}

.negot_address h3 {
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.chg_btn {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  background: none;
  color: #41d13e;

  position: absolute;
  top: .625rem;
  right: .625rem;
}

.chg_btn:hover {
  color: #fff;
  background-color: #41d13e;
}

.pg1_items {
  position: relative;
  line-height: 1.25rem;
  color: #555;
  font-weight: 300;
}

.pg2_items {
  position: relative;
  padding: 0;
  margin: 0;
}

.price_btn,
.submit_btn {
  padding: .625rem 2.5rem;
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  background: #41d13e;
  color: #fff;
  border-radius: 0;

  position: absolute;
  bottom: .9375rem;
  right: 1.875rem;
}
.n-card1 > .p-btn1 {
  position: absolute;
  bottom: 15%;
  right: 4%;
}
.n-card1 {
  position: relative;
}