@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');
#icon-style1{
    color: #76E741;
    padding: 5px;
}
#icon-style2{
    color: #76E741;
}
#search-bar{
    background: #FFFEFE;
    border-radius: 15px;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 10px;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
#search-bar-left{
    display: grip;
    grid-template-columns: auto auto;
}
#table-text-search{
    background-color: inherit;
    border: none;
}
#text-input{
    border: none;
    background: transparent;
}
#right-icons{
    margin: 20px;
}
input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: green;
}
#card-display{
    background: #FFFEFE;
    border-radius: 15px;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 10px;
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
}
#text-in-card{
    font-size: larger;
    margin:auto;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 800;
    text-align: center;
    color: #76E741;
    width: 200px;
}
#button-style-market{
    border: none;
    background: #76E741;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: small;
    width: 140px;
    line-height: 59px;
    text-align: center;
    color: #FFFEFE;
    border-radius: 50px;
    margin: auto;
    margin-top: 10px;
    width: 150px;
}
#sort-filter-card{
    background: #FFFEFE;
    border-radius: 15px;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 10px;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    color:#76E741;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    line-height: 44px;
    font-size: larger;
    text-align: center;
}
#icon-sf{
    margin: auto;
}
#link-style{
    text-decoration: none;
    color: green;
}