.request-box {
	display: flex;
	width: fit-content;
	margin: auto;
	background-color: white;
   flex-direction: column;
	border-radius: 5% 10%;
	margin-bottom: 2%;
	align-items: center;
}
.req-img {
	right: 5%;
	top: 25%;
	border-radius: 5% 10%;
}
.container1 {
	flex: 1;
   display: flex;
}
.f-items {
	display: inline-block;
	flex: 1
}
.container2 {
	flex: 4;
	display: flex;
	margin: auto;
}
.reasonbox {
	font-size: 1.4rem;
}
.part-1 {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	justify-content: center;
}
.req-no {
	flex: 3;
	font-size: 1.5rem;
}

.req-btn {
	flex: 2;
	font-size: 1.3rem;
	margin-left: 2%;
	background-color: #1FE57A;
}
.edit-btn {
	font-size: 20px;
}
.label {
display: inline-block;
width: 19%;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 1.376rem;
padding: 4px 2px 4px 2px;
background-color:  #1FE57A;
border-radius: 3% 7%;
margin-bottom: 3%;
margin-right: 3%;
}
.values {
font-size: 1.676rem;
}
.total-req-count {
	font-size: 1.262rem;
	margin-left: 5%;
	margin-top: 3%;
}