.request-box {
	display: flex;
    flex-direction: column;
	border-radius: 5% 10%;
	margin-bottom: 2%;
	margin-top: 2%;
	align-items: center;
}
.req-img {
	right: 5%;
	top: 25%;
	border-radius: 5% 10%;
}
.container-1 {
    display: flex;
	flex: 1;
	margin-bottom: 1%;
	margin-top: 0;
}
.f-items {
	flex: 2;
}
.f1 {
	flex: 5;
}
.container-2 {
	flex: 4;
	padding: 2% 4% 2% 4%;
    border-radius: 4% 2% 4% 2%;
    border-radius: 1px black;	
	display: flex;
	background: rgba(217, 217, 217, 1);
	margin: auto;
}
.reasonbox {
	font-size: 1.4rem;
	width: 50%;
}
.flex-item {
	display: flex;
	justify-content:flex-start;
	align-items: center;
	margin-bottom: 2%;
}
.part-1 {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	justify-content: center;
}
.req-no {
	flex: 3;
	font-size: 1.5rem;
}
.req-btn {
	flex: 2;
	font-size: 1.3rem;
	margin-left: 2%;
	background-color: #1FE57A;
}
.label {
	width: 25%;
display: inline-block;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 1.376rem;
padding: 4px 2px 4px 2px;
background-color:  #1FE57A;
border-radius: 3% 7%;
/*margin-bottom: 3%;*/
margin-right: 3%;
}
.values {
font-size: 1.676rem;
}
.total-req-count {
	font-size: 1.262rem;
	margin-left: 5%;
	margin-top: 3%;
}
.edit-btn:hover {
  color : orangered;
}
@media only screen and (max-width: 800px)  {
	.flex-item {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	.flex-item > div {
		width: 90%;
	} 
	.container-2 {
		flex-direction: column;
	}
}