@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

body{
    /*background: linear-gradient(to right, #a8ff78, #78ffd6); */
}

.title{
    font-size: 4.6875rem ;
    font-family: 'Montserrat', sans-serif; ;
    margin: 4.375rem;
}

.label{
   
}

/* .textbox{

} */

.button{
    font-size: 1.875rem;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 2.5rem;
    width:18.75rem;
    height: 43.75rem;
    background-color: aquamarine;
}

.button:hover{
    background-color: white;
}
