@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

body{
    /*background: linear-gradient(to right, #a8ff78, #78ffd6); */
}

.title{
    font-size: 75px ;
    font-family: 'Montserrat', sans-serif; ;
    margin: 70px;
}

.label{
   
}

.textbox{

}

.button{
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 40px;
    width:300px;
    height: 700 px;
    background-color: aquamarine;
}

.button:hover{
    background-color: white;
}

.gradient{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #65efaa 0%, #6effdd 100%);

}
