.transaction {
    font-size: 1.3rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-inline-start: 1.2rem;
    width: 100%;
    height: 150px;
    scrollbar-color: #1e1e1e4d #e4e4e4;
    scrollbar-width: revert-layer;
    border-radius: 8px;
  }
  
  .sales-items-list li {
    list-style: none;
    margin: 1px 0;
    padding-inline-start: 1rem;
    background-color: #66e2a0;
    width: 100%;
    border-radius: 0;
  }
  