.transaction {
    font-size: 1.3rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-inline-start: 1.2rem;
    width: 100%;
    /* height: 9.375rem; */
    scrollbar-color: #1e1e1e4d #e4e4e4;
    scrollbar-width: revert-layer;
    border-radius: .5rem;
    width: 81.25rem;
  }
  
  .sales-items-list li {
    margin: .0625rem 0;
    padding-inline-start: 1rem;
    background-color: #66e2a0;
    width: 100%;
    border-radius: 0;
  }

#card-trans-his{
  margin: 1.875rem;
}

.t-rows {
  padding: 1%;
  width: .625rem;
  text-align: center;
}

th {
  font-weight: bolder;
  text-align: center;
}